{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "react",
    "stage-0",
    "stage-1",
    "stage-2",
    "stage-3"
  ],
  "plugins": [
    "transform-decorators-legacy",
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-decorators-legacy"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}